*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
li.default{
    font-size: 120%;
    font-weight: bolder;
    color: rgb(182, 42, 200);
}
li.spoiler{
    font-weight: bolder;
    color: rgb(192, 69, 69);
}
#temas{
    display: none;
}
.contenedor{
    position: relative;
    top: 20px;
    left: 50px;
    width: 40vw;
    height: 80vh;
    overflow-y: auto;
}
.contenedor div{
    width: 76px;
    height: 76px;
    background-color: lightcoral;
    display: inline-block;
    margin: 0 -3px 2px  0;
    text-align: center;
    line-height: 76px;
    font-size: 150%;
    font-weight: bolder;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.contenedor .divinidades{
    position: absolute;
    background-color: darkslateblue;
    opacity: 0.7;
    left: 45px;
    top: 0px;
}
.contenedor .constantine{
    position: relative;
    transition: all 1s ease;
}

.contenedor .constantine:hover{
    top: 20px;
    background-color: darkslateblue;
}

.contenedor .elprogramador{
    position: fixed;
    top: 80px;
    background-color: deeppink;
}

.contenedor div.menu{
    width: 100%;
    top: 0;
    position: sticky;
    border-bottom: 1px solid gray;
    box-shadow: 10px 0px 20px rgba(128, 128, 128, 0.8);
    z-index: 9999;
    opacity: 0.8;
}
